:root {
  --font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --background: hsl(0, 0%, 98%);
  --foreground: hsl(0, 0%, 99%);
  --foreground-hover: hsl(0, 0%, 99%);
  --shade: hsla(0, 0%, 95%, 75%);

  --text-primary: hsl(0, 0%, 5%);
  --text-secondary: hsl(0, 0%, 10%);

  --primary: hsl(175, 84%, 32%);
  --secondary: hsl(173, 80%, 40%);

  --positive: hsl(120, 59%, 37%);
  --negative: hsl(0, 88%, 61%);

  --highlight: hsl(0, 0%, 90%);

  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-hover: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-focus: 0 0 0.5rem 0 var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(5, 5%, 7%);
    --foreground: hsl(5, 5%, 10%);
    --foreground-hover: hsl(5, 5%, 15%);
    --shade: hsla(0, 0%, 12%, 97%);

    --text-primary: hsl(5, 5%, 90%);
    --text-secondary: hsl(5, 5%, 80%);

    --primary: hsl(175, 84%, 32%);
    --secondary: hsl(173, 80%, 40%);

    --positive: hsl(120, 59%, 37%);
    --negative: hsl(0, 88%, 61%);

    --highlight: hsl(0, 0%, 10%);

    --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    --shadow-hover: 0 4px 6px -1px rgba(0, 0, 0, 0.7),
      0 2px 4px -1px rgba(0, 0, 0, 0.1);
    --shadow-focus: 0 0 0.5rem 0 var(--primary);
  }
}

::selection {
  background: var(--primary);
}

html {
  font-family: var(--font-family);
  background-color: var(--background);
  color: var(--text);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(100vh - 4rem);
  padding: 2rem;
}

.sidebar {
  width: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 700px) {
  #container {
    padding: 1rem;
    flex-direction: column;
    height: calc(100vh - 2rem);
  }

  .sidebar {
    flex-direction: row;
    width: 100%;
  }
}

.icon {
  color: var(--text-primary);
  display: flex;
  align-items: center;
  justify-items: center;
  height: 1rem;
  width: 1rem;
}

.icon-success {
  color: var(--positive);
}

.icon-error {
  color: var(--negative);
}

#textbox {
  font-family: var(--font-family);
  font-size: 1rem;
  color: var(--text-primary);
  caret-color: var(--primary);
  width: 100%;
  max-width: 40rem;
  height: 100%;
  border: none;
  background: none;
  resize: none;
  outline: none;
}

#textbox:active {
  border: none;
  outline: none;
}

.token-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.75rem;
  height: 1.75rem;
  cursor: pointer;
  color: var(--text-secondary);
  background: var(--foreground);
  border: none;
  border-radius: 25%;
  box-shadow: var(--shadow);
}

.token-button:hover {
  color: var(--text-primary);
  box-shadow: var(--shadow-hover);
  background: var(--foreground-hover);
}

.token-button:focus-visible {
  outline: none;
  box-shadow: var(--shadow-focus);
}

#notification-section {
  display: flex;
  z-index: 10;
  flex-direction: column-reverse;
  align-items: center;
  position: absolute;
  bottom: 2rem;
  gap: 0.2rem;
  width: 100vw;
}

.notification {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  align-items: center;
  justify-items: center;
  color: var(--text-secondary);
  background: var(--foreground);
  box-shadow: var(--shadow);
  border-radius: 1rem;
  padding: 0.3rem 0.6rem;
}

#menu-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.3rem;
}

#menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  color: var(--text-secondary);
  background-color: var(--foreground);
  border: none;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: var(--shadow);
}

#menu-toggle:hover {
  color: var(--text-primary);
  box-shadow: var(--shadow-hover);
  background: var(--foreground-hover);
}

#menu-toggle:focus-visible {
  outline: none;
  box-shadow: var(--shadow-focus);
}

#menu {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0.8rem 0;
  background-color: var(--background);
  border-radius: 1rem;
  box-shadow: var(--shadow);
  width: 10rem;
}

#menu.hidden {
  display: none;
}

#menu > a,
#menu > div {
  margin: 0;
  list-style-type: none;
  padding: 0.15rem 0.5rem;
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--text-primary);
  cursor: pointer;
}

#menu > a:hover,
#menu > div:hover {
  background: var(--highlight);
}

#menu > header {
  padding: 0 0.5rem;
  padding-bottom: 0.3rem;
  border-bottom: var(--highlight) 1px solid;
}

#menu > header > h1 {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-primary);
}

#menu > header > h2 {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--text-secondary);
}

#modal-section.visible {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: var(--shade);
}

#modal-section.hidden {
  display: hidden;
}

#modal {
  display: flex;
  gap: 0.75rem;
  z-index: 10;
  flex-direction: column;
  max-width: 30rem;
  color: var(--text-primary);
  background: var(--background);
  box-shadow: var(--shadow);
  padding: 1rem;
  border-radius: 1rem;
}

#modal > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#modal > header > h1 {
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--text-primary);
}

#modal p {
  font-size: 1rem;
}

#modal a {
  font-weight: 500;
  text-decoration: none;
  color: var(--primary);
}

#modal a:hover {
  text-decoration: none;
  color: var(--secondary);
}
